.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 333px);
    z-index: 1;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/big_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    /* Adjust this value between 0 and 1 to control opacity */
    z-index: -1;
}

.contentWrapper {
    border: solid thin #f8d999;
    background-color: #FFE5B4;
    margin: 2rem auto 2rem auto;
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.2rem 1rem 1.2rem;
    border-radius: 10px;
    width: 65vw;
}

.contentWrapper h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.infoBoxesWrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.infoBox {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

.infoBox ul {
    list-style-image: url(/images/check.png);
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.infoBox li {
    margin-bottom: 0.5rem;
}