.mini-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/imgs/saloons-background3.png);
    padding: 12px 0 12px 0;
    background-position: center;
}

.info-heading {
    text-shadow: none;
}

.listing-container {
    max-width: 50vw;
    /* max-height: 100vh; */
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.item-img {
    width: 270px;
    height: 195px;
    border-radius: 10px;
}

.list-item {
    display: flex;
    width: 100%;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 270px);
    padding: 15px 0 0 15px;
}

.item-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-info li>a {
    display: flex;
    justify-content: space-between;
}

.item-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-heading {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}