*,
*::before,
::after {
  box-sizing: border-box;
}

.colors {
  color: #FFE5B4;
  color: rgb(165, 72, 77);
  color: #E9B4B1;
  color: #56cbf9;
}

body,
p,
h3,
h2 {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}