.loginContainer {
    max-width: 25vw;
    /* max-height: 100vh; */
    margin: auto;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/saloons-background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.loginForm {
    border: solid thin #f8d999;
    background-color: #FFE5B4;
    margin: 1rem auto 1rem auto;
    gap: 30px;
}

.loginType {
    display: flex;
    justify-content: space-between;
}

.radioContainer {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
}

.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 10px;
    margin: 0;
}

.radioLabel {
    background-color: white;
    align-content: center;
    border: medium outset #E9B4B1;
    border-radius: 10px;
    padding: 0.4em;
    text-decoration: none;
    color: #a5484d;
    transition: 0.3s;
}

.radioLabel:hover {
    color: white;
    background-color: #56cbf9;
}

.radioLabel:active {
    color: lightgray;
    background-color: #3ea0c7;
}

.radioContainer input:checked+.radioLabel {
    background-color: #56cbf9 !important;
    color: white !important
}

.formDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding-left: 0.5rem;
    border: solid thin lightgray;
    border-radius: 5px;
    min-height: 40px;
    width: 100%;
}

.formContent {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem 1.2rem 1rem 1.2rem;
    border-radius: 10px;
    min-width: 400px
}