.labelsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
}

.rangePickerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.servicesList {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0 0.5rem 0 0.5rem;
    width: 100%;
    background-color: white;
    border: solid thin lightgray;
    border-radius: 10px;
}

.servicesList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.formSubmitBtn {
    width: 50%;
}