<!DOCTYPE html>
<html lang="en">

<head>
    <title>StyleGo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/dashboardStyles2.css">
    <link rel="stylesheet" href="../styles/login.css">
</head>

<body>
    <header class="header">
        <a href="/" class="header-logo-background">
            <img src="./imgs/logo_rectangle.png" alt="" class="header-logo-size">
        </a>
        <nav class="nav hide-on-small">
            <div class="searchbar-container">
                <i class="fa-solid fa-magnifying-glass magglass"></i>
                <input class="searchbar" type="search" name="search" placeholder="Search">
            </div>
            <a href="/about" class="button more-menu">
                About
                <div class="test">
                    <button class="button-about"><i class="fa-solid fa-user"></i>For Users</button>
                    <button class="button-about"><i class="fa-solid fa-user-tie"></i>For Studios</button>
                </div>
            </a>
            <a href="/login.html" class="button">Login</a>
            <a href="/register.html" class="button">Register</a>
        </nav>
    </header>
    <main class="main">
        <div class="login-container">
            <form action="" class="form-content login-form">
                <div class="login-type">
                    <label for="forUser" class="radioContainer">
                        <input type="radio" name="loginType" id="forUser" value="forUser" checked>
                        <span class="radioLabel">
                            Register User
                        </span>
                    </label>
                    <label for="forBusiness" class="radioContainer">
                        <input type="radio" name="loginType" id="forBusiness" value="forBusiness">
                        <span class="radioLabel">
                            Register Studio
                        </span>
                    </label>
                </div>
                <input type="text" name="username" id="username" placeholder="Username" class="form-div">
                <input type="password" name="password" id="password" placeholder="Password" class="form-div">
                <input type="password" name="rePassword" id="rePassword" placeholder="Repeat password" class="form-div">
                <button class="form-submit-btn">Register</button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-info-container">
            <div class="footer-item">
                <a href="#" class="header-logo-background">
                    <img src="./imgs/logo_rectangle.png" alt="" class="header-logo-size">
                </a>
                <a href="#" class="new-salon-btn">Добави салон</a>
            </div>
            <div class="footer-item-ul">
                <h2>Бързи линкове</h2>
                <ul>
                    <li><a href="#" class="footer-link">Вход за клиенти</a></li>
                    <li><a href="#" class="footer-link">Вход за салони</a></li>
                    <li><a href="#" class="footer-link">Регистрация</a></li>
                    <li><a href="#" class="footer-link">Повече информация</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 StyleGo Изготвено от Димитър Павлев (dimitar557) </p>
        </div>
    </footer>
</body>

</html>