<!DOCTYPE html>
<html lang="en">

<head>
    <title>StyleGo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/dashboardStyles2.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/studioView.css">
</head>

<body>
    <header class="header">
        <a href="/" class="header-logo-background">
            <img src="/imgs/logo_rectangle.png" alt="" class="header-logo-size">
        </a>
        <nav class="nav hide-on-small">
            <div class="searchbar-container">
                <i class="fa-solid fa-magnifying-glass magglass"></i>
                <input class="searchbar" type="search" name="search" placeholder="Search">
            </div>
            <a href="/about" class="button more-menu">
                About
                <div class="test">
                    <button class="button-about"><i class="fa-solid fa-user"></i>For Users</button>
                    <button class="button-about"><i class="fa-solid fa-user-tie"></i>For Studios</button>
                </div>
            </a>
            <a href="/login.html" class="button">Login</a>
            <a href="/register.html" class="button">Register</a>
        </nav>
    </header>
    <!-- !Changed class from "main" -->
    <main class="mainElem">
        <div class="main-header-content margin-top margin-left margin-right">
            <div>
                <img src="https://images.fresha.com/locations/location-profile-images/643848/2160592/e90e3cd2-04d2-4702-a946-6c0e38af9ab4.jpg?class=width-small"
                    alt="" class="item-img">
            </div>
            <div class="studio-information">
                <div class="studio-top-content">
                    <div>
                        <h1>Студио за красота Ангел</h1>
                        <h3 style="color: gray;">София</h3>
                    </div>
                    <button class="form-submit-btn book-btn">Запази час</button>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, delectus sequi vel consequatur,
                    cupiditate mollitia doloribus autem assumenda nostrum, quaerat architecto placeat. Nam eaque
                    dolorum
                    possimus temporibus porro dolorem quae accusantium rem laudantium, et iure odit tempore. Rerum,
                    veniam! Culpa architecto minus dolorem numquam in, quae fuga a consectetur inventore?</p>
            </div>
        </div>
        <div class="main-content-wrapper">
            <div class="main-content margin-left margin-right">
                <div class="servicesSection">
                    <h1>Услуги</h1><br>
                    <form action="">

                        <ul>
                            <li>
                                <span>Test Service</span>
                                <div>
                                    <span>Price&nbsp;</span>
                                    <label for="selectService1" class="radioContainer">
                                        <input type="checkbox" name="selectService1" id="selectService1">
                                        <span class="radioLabel">
                                            Select
                                        </span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Test Service</span>
                                <div>
                                    <span>Price&nbsp;</span>
                                    <label for="selectService2" class="radioContainer">
                                        <input type="checkbox" name="selectService2" id="selectService2">
                                        <span class="radioLabel">
                                            Select
                                        </span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Test Service</span>
                                <div>
                                    <span>Price&nbsp;</span>
                                    <label for="selectService3" class="radioContainer">
                                        <input type="checkbox" name="selectService3" id="selectService3">
                                        <span class="radioLabel">
                                            Select
                                        </span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Test Service</span>
                                <div>
                                    <span>Price&nbsp;</span>
                                    <label for="selectService4" class="radioContainer">
                                        <input type="checkbox" name="selectService4" id="selectService4">
                                        <span class="radioLabel">
                                            Select
                                        </span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Test Service</span>
                                <div>
                                    <span>Price&nbsp;</span>
                                    <label for="selectService5" class="radioContainer">
                                        <input type="checkbox" name="selectService5" id="selectService5">
                                        <span class="radioLabel">
                                            Select
                                        </span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="workingHours">
                    <h1>Работно време</h1><br>
                    <ul>
                        <li><span>Понеделник</span><span>9:00 - 17:00</span></li>
                        <li><span>Вторник</span><span>9:00 - 17:00</span></li>
                        <li><span>Сряда</span><span>9:00 - 17:00</span></li>
                        <li><span>Четвъртък</span><span>9:00 - 17:00</span></li>
                        <li><span>Петък</span><span>9:00 - 17:00</span></li>
                        <li><span>Събота</span><span>9:00 - 17:00</span></li>
                        <li><span>Неделя</span><span>9:00 - 17:00</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="owner-buttons margin-left margin-right margin-bottom">
            <div>
                <h1>Контакти</h1>
                <ul>
                    <li><span>Телефон:</span><span>0888888888</span></li>
                    <li><span>Имейл:</span><span>
            </div>
        </div>
        <!-- <div class="owner-buttons margin-left margin-right margin-bottom">
            <button class="editBtn">Edit</button>
            <button class="deleteBtn">Delete</button>
        </div> -->
        <!-- <div class="login-container">
        </div> -->
    </main>
    <footer class="footer">
        <div class="footer-info-container">
            <div class="footer-item">
                <a href="#" class="header-logo-background">
                    <img src="/imgs/logo_rectangle.png" alt="" class="header-logo-size">
                </a>
                <a href="#" class="new-salon-btn">Добави салон</a>
            </div>
            <div class="footer-item-ul">
                <h2>Бързи линкове</h2>
                <ul>
                    <li><a href="#" class="footer-link">Вход за клиенти</a></li>
                    <li><a href="#" class="footer-link">Вход за салони</a></li>
                    <li><a href="#" class="footer-link">Регистрация</a></li>
                    <li><a href="#" class="footer-link">Повече информация</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 StyleGo Изготвено от Димитър Павлев (dimitar557) </p>
        </div>
    </footer>
</body>

</html>