.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 333px);
}

.errorContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    max-width: 25vw;
}

.errorHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem
}

.errorContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.errorHeading {
    font-size: 3rem;
    font-weight: bold;
    color: red;
}

.errorSubheading {
    font-size: 2rem;
}

.errorText {
    font-size: 1.2rem;
    text-align: center;
}

.errorActions {
    display: flex;
    justify-content: space-evenly
}

.authButton {
    background-color: rgb(86, 203, 249);
    width: 8rem;
}

.authButton:hover {
    background-color: rgb(67, 163, 201);
}

.errorImage {
    width: 100px;
    height: 100px;
}