.mainElem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
}

.marginTop {
    margin-top: 5rem;
}

.marginRight {
    margin-right: auto;
}

.marginLeft {
    margin-left: auto;
}

.marginBottom {
    margin-bottom: 5rem;
}

.mainHeaderContent {
    display: flex;
    justify-content: space-around;
    width: 65vw;
}

.studioInformation {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
}

h1 {
    margin: 0;
}

.studioTopContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookBtn {
    height: 50%;
}

.mainContentWrapper {
    background: rgb(253, 237, 238);
    background: linear-gradient(45deg, rgba(253, 237, 238, 1) 10%, rgba(252, 204, 202, 1) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* color: #FCCCCA; */
    /* color: #FDEDEE; */
}

.mainContent {
    display: flex;
    justify-content: space-between;
    width: 65vw;
    padding: 1.5rem 0 1.5rem 0;
}

.servicesSection {
    width: 45%;
    background-color: rgb(253, 192, 190);
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-radius: 10px;
    /* border: 2px solid #FCCCCA; */
    color: white;
}

.servicesSection ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.servicesSection li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 1rem 0;
    font-size: 1.2rem;
    border-bottom: thin solid rgb(165, 72, 77, 0.5);
}

.workingHours {
    width: 40%;
    color: white;
    background-color: rgb(253, 192, 190);
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-radius: 10px;
    /* border: 2px solid #FCCCCA; */

}

.radioContainer {
    position: relative;
    cursor: pointer;
    font-size: initial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
}

.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 10px;
    margin: 0;
}

.radioLabel {
    background-color: white;
    align-content: center;
    border: medium outset #E9B4B1;
    border-radius: 10px;
    padding: 0.4em;
    text-decoration: none;
    color: #a5484d;
    transition: 0.3s;
}

.radioLabel:hover {
    color: white;
    background-color: #5fc25b;
}

.radioLabel:active {
    color: lightgray;
    background-color: #44b840;
}

.radioContainer input:checked+.radioLabel {
    background-color: #5fc25b !important;
    color: white !important
}

.workingHours {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.workingHours ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
    width: 100%;
}

.workingHours li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ownerButtonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    border: thin solid black;
    padding: 1rem;
    border-radius: 10px;
}

.ownerButtons {
    display: flex;
    /* gap: 10px; */
    justify-content: space-around;
}

.editBtn {
    color: white;
    background-color: #FDD017;
    min-height: 45px;
    border: solid medium #F6BE00;
    border-radius: 10px;
    font-size: 16pt;
    transition: 0.3s;
}

.editBtn:hover {
    background-color: #F6BE00;
    cursor: pointer;
}

.deleteBtn {
    color: white;
    background-color: #E41B17;
    min-height: 45px;
    border: solid medium #B21807;
    border-radius: 10px;
    font-size: 16pt;
    transition: 0.3s;
}

.deleteBtn:hover {
    background-color: #B21807;
    cursor: pointer;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15rem;
    gap: 2rem;
}

.contacts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
    width: 100%;
}

.contacts li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bottomWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65vw;
}